body {
  width: 90%;
  margin: 0 auto;
}

/*.footer-copywrite {
   position: static;
   left:0px;
   bottom:0px;
   height: auto;
   width:100%;
   text-indent: 10px;
   background:#ee6e73;
   color: #fff
}
* {*/
  /*background-color: #d3dfff*/
}
